MINIMUM REQUIREMENTS:
CPU: Intel i5-9300H or AMD Ryzen 3 2300X
RAM: 4 GB
VRAM: 1 GB
GPU: Nvidia GTX 1060 or AMD RX 470 (1080p, Medium 60 FPS)
Disk Space: 2 GB


RECOMMENDED REQUIREMENTS:
CPU: Intel i7-8750H or AMD Ryzen 3 4300G
RAM: 8 GB
VRAM: 2 GB
GPU: Nvidia RTX 2060 or AMD RX 590 (1440p, High 60 FPS)
Disk Space: 2 GB

